{% capture description %} {% comment %}
<p class="pure-u-1-1 page-product__des">
  {% endcomment %} {% if product.description contains "<!--split-->" %} {{
  product.description | split: "<!--split-->" | last }} {% else %} {{
  product.description }} {% endif %} {% comment %}
</p>
{% endcomment %} {% endcapture %}
{% capture form %}
<style>
    @media (min-width: 768px) {
  .hide-on-mobile{
    display:inline-flex !important;
  }
  }
      #add-to-cart{
  margin-top:20px !important;
  }
</style>
<form
  id="add-item-form"
  action="/cart/add"
  data-productid="{{ product.id }}"
  data-productid="{{product.id}}"
  method="post"
  class="variants"
  style="padding-bottom: 30px"
>
  <!-- Begin ReCharge code -->
  {% if product.available %}{% include 'subscription-product' %}{% endif %}
  <!-- End ReCharge code -->

  {% if product.available %}{% endif %}

  <h2 class="price {{product.id}}" id="price-preview" style="display: none">
    {{ product.price_min | money }}{% if product.price_min <
    product.compare_at_price_min %}
    <del>{{ product.compare_at_price_min | money }}</del>{% endif %}
  </h2>

  <!-- Begin product options -->
  <div
    class="pure-u-1-1 page-product-options"
    id="product-options"
    style="margin-top: 0px"
  >
    <div
      class="pure-u-sm-1-1 pure-u-md-4-5 pure-u-lg-4-5 pure-u-xl-4-5 page-product-options-wrapper"
    >
      <div class="pure-u-1-1 page-product__variation">
        {% assign found_one_in_stock = false %} {% if product.variants.size > 1
        %}
        <ul id="product-options" name="id" data-productid="{{ product.id }}">
          {% for variant in product.variants %} {% assign found_one_in_stock =
          true %}

          <li class="page-product-options-item">
            <label
              >{{ variant.title }} -
              <span
                class="Bold-theme-hook-DO-NOT-DELETE bold_product_price_2"
                data-override-value-set="1"
                data-override-value="{{ variant.price }}"
                style="display: none !important"
              ></span
              >{{ variant.price | money }} &nbsp;
              <del>{{ variant.compare_at_price | money }}</del></label
            >

            {% if variant.available %} <input type="radio"
            data-productid="{{product.id}}" name="id" data-productid="{{
            product.id }}" value="{{ variant.id }}" {% if variant ==
            product.first_available_variant %} checked {% endif %}> {% else %}
            <span style="margin: 0; color: #d0011b">Sold Out</span>
            {% endif %}
          </li>

          {% endfor %}
        </ul>
        {% else %}
        <select
          id="product-select"
          name="id"
          data-productid="{{ product.id }}"
          data-productid="{{product.id}}"
          style="display: none !important"
        >
          {% for variant in product.variants %}
          <option value="{{ variant.id }}" selected="selected"></option>
          {% endfor %}
        </select>
        <p class="page-product-options-item">
          {{ product.title }} {{ product.price | money }}
        </p>

        {% endif %}
      </div>
    </div>

    {% if settings.display_quantity_dropdown %}
    <div
      class="pure-u-sm-1-1 pure-u-md-1-5 pure-u-lg-1-5 pure-u-xl-1-5 page-product-qtn__group hide-on-mobile"
      style="display: none"
    >
      <p class="">Quantity</p>
      <input
        id="quantity"
        type="number"
        name="quantity"
        value="1"
        class="pure-u-1-3 page-product__qtn"
      />
    </div>
    {% endif %}
  </div>

  <div>
    {% unless product.available %}
    <p>Sold Out</p>
    {% else %}
    <input
      type="submit"
      id="add-to-cart"
      class="product__btn page-product__btn bs-product__btn"
      name="add"
      style="margin-top: 0px"
      value="Add to cart"
    />
    {% endunless %}
  </div>
</form>

{% endcapture %}
{% capture manifesto_faq %}
<div class="pure-u-1-1 page-product__faq-wrap" style="margin-top: 0px">
  <ul class="page-product__list">
    <li>
      <input type="checkbox" checked />
      <i></i>
      <h4>Shipping, Refund & Exchange Policy</h4>
      <p>{{ pages['product-page-refund-and-exchange-policy'].content }}</p>
    </li>
    <!--<li>
            <input type="checkbox" checked>
            <i></i>
            <h4>FAQs</h4>
            <p>
              {{ pages['product-page-faq'].content }}
            </p>
          </li>-->
  </ul>
</div>
{% endcapture %}
{% capture manifesto_discounts %}
<h2
  style="
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 50px;
  "
>
  Discounts
</h2>
<p style="padding-bottom: 25px">
  <span style="font-weight: bold">Students</span> get the hardcover book for
  $10, and the pdf for free, use code
  <span style="font-style: italic">manifesto-student</span>
</p>
<p style="padding-bottom: 25px">
  <span style="font-weight: bold">Subscribers</span> get it for 33% off, use
  code <span style="font-style: italic">manifesto-subscriber</span>
</p>
<p>
  <span style="font-weight: bold">Third Forcers</span> get it for 50% off, use
  code <span style="font-style: italic">manifesto-third-force</span>
</p>
<h2
  style="
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
  "
>
  Bulk Order?
</h2>
<p style="margin-bottom: 0px">
  Are you buying for a book store or want to place a bulk order? Send us an
  email at <a href="mailto:info@adbusters.org">info@adbusters.org</a> and we'll
  set you up with our bulk pricing.
</p>

{% endcapture %}
{% capture manifesto_main %}
  <style type="text/css">
  @media (min-width: 768px) {
    .manifesto_infobox_wrapper {
      display: flex !important;
      flex-direction: column !important;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
    #manifesto-desc {
      margin-left: 100px;
      margin-right: 100px;
    }
  }
  #amazon {
    transform: rotate(1deg);
  }
  .manifesto_infobox_wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
}

.manifesto_image {
  width: 750px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 75px;
  padding-bottom: 75px;
  z-index: 100000;
}

.manifesto_infobox {
  max-width: 1050px;
  background-color: rgb(255, 255, 255, 0);
  position: block;
  margin-bottom: 50px;
}

.paper_texture {
  opacity: 0.9; 
  position: absolute; 
  bottom: -2px; 
  width: 100%;
}

.manifesto_desc {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 20px;
  margin-bottom: 100px;
  width: 100%;
  padding: 20px;
  padding-bottom: 120px;
  border-style: solid;
  border-color: #f9f9f9;
  border-width: 2px 2px 0px 2px;
}

.manifesto_desc_inner {
  margin-top: -30px;
}

.manifesto_desc_inner_div {
  max-width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.manifesto_desc_inner_div_flex {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}

.manifesto_desc_inner_div_flex_p {
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.3em;
  line-height: 1.5em;
}

.manifesto_desc_inner_div_flex_a {
  margin-top: 0px; 
  width: 250px;
}

.manifesto_desc_inner_div_p {
  text-align: center; 
  padding-bottom: 15px;
}

.amazon_image {
  max-width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.manifesto_discounts {
  max-width: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blackspot_press_image {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 45px;
  padding-bottom: 15px;
}

.shopify_manifesto_open_image {
  max-width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.manifesto_authors {
  text-align: center;
  font-size: 24px;
  padding-bottom: 75px;
  color: gray;
  padding-top: 15px;
  line-height: 30px;
}

.manifesto_faq {
  padding: 20px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.paper_texture_2 {
  opacity: 0.9; 
  position: absolute; 
  top: -102px; 
  width: 100%;
}

.relative{
    position: relative;
}
</style>

<div class="manifesto_infobox_wrapper">
  <img
    src="{{ 'hands hold book v2.png'| asset_url }}"
    alt="a manifesto for world revolution"
    class="manifesto_image"
  />
  <div class="manifesto_infobox">
    <div class="relative">
        <img class="paper_texture" src="{{ 'paper-texture-1.png'|asset_url }}" />
    </div>

    <div class="manifesto_desc">
      <div id="manifesto-desc" class="manifesto_desc_inner">
        {% render 'manifesto-quotes' %} {% render 'manifesto-preview' %} {% render 'preview-audio' %}
        <div>{{ description }}</div>
      </div>

      <div class="manifesto_desc_inner_div">
        <div class="manifesto_desc_inner_div_flex">
          <div>
            <p class="manifesto_desc_inner_div_flex_p">
              Book + Mag Combo
            </p>
            <p class="manifesto_desc_inner_div_p">
              World Revolution Manifesto + 6 issues of adbusters for $55
            </p>
          </div>
          <a
            href="#"
            class="product__btn page-product__btn bs-product__btn manifesto_desc_inner_div_flex_a"
            onclick="addManifesto()"
          >Add to Cart</a>
        </div>
        <script>
          function addManifesto() {
            Shopify.addItem(40966764298339, 1, function () {
              window.location.href = "https://subscribe.adbusters.org/cart";
            });
          }
        </script>
        {{ form }}
        <p class="manifesto_desc_inner_div_p">
          Want to talk to a real human? <br />Order by phone at:
          <a href="tel:6047369401">(604) 736-9401</a>
        </p>
        <img
        id="amazon"
        src="{{ 'No Amazon.png'| asset_url }}"
        alt="will not be sold on amazon"
        class="amazon_image"
      />
      </div>
      <div class="manifesto_discounts">
        {{ manifesto_discounts }}
      </div>
      <img
        src="{{ 'blackspot press.png'|asset_url }}"
        class="blackspot_press_image"
      />
      <img
        src="{{ 'shopify-manifesto-open.png'| asset_url }}"
        alt="a manifesto for world revolution book open"
        class="shopify_manifesto_open_image"
      />
  
      <p class="manifesto_authors">
        KALLE LASN with PEDRO INUOE and BRUCE GRIERSON
      </p>
  
      <div class="manifesto_faq">
        {{ manifesto_faq }}
      </div>

    </div>
    <div class="relative">
        <img class="paper_texture" src="{{ 'paper-texture-2.png'|asset_url }}" />
    </div>
  </div>
    <script defer src="{{ 'fslightbox.js'| asset_url }}"></script>
</div>

{% endcapture %}
<!-- REAL PAGE -->
<section
  id="bg_image"
  class="manifesto_wrapper manifesto_bg_image"
  style="
    display: block;
    padding-bottom: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  ">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet" />
  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const clean = urlParams.get("clean");
      const audio = urlParams.get("audio");
      if (audio == "true") {
        document.getElementById("preview-audio-link").click();
      }
      if (clean == "true") {
        var styles = `
    header,footer {
      	display: none !important;
      }      
    `;

        var styleSheet = document.createElement("style");
        styleSheet.innerText = styles;
        document.head.appendChild(styleSheet);

        document.getElementById("bg_image").style.backgroundImage =
          "url({{ 'whit-background-scan.jpg' | asset_url }})";
      }
    });
  </script>
  {{ manifesto_main }}
</section>